.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #131313;
    text-align: center;
    padding: 20px;
}

body{
    margin: 0;
}

.header {
    font-size: 2em;
    margin-bottom: 20px;
    color: #38db0b;
    font-style: oblique
}

.input-field {
    width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #d5d4d4;
    border-radius: 5px;
    background-color: #e7e5e5;
}

.search-btn {
    padding: 10px 20px;
    background-color: #179304;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.results {
    margin-top: 20px;
    width: 80%;
    max-width: 600px;
    text-align: left;
    background-color: rgba(246, 244, 244, 0.838);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(18, 255, 6, 0.988);
    overflow-y: auto;
    max-height: 50vh;
}

.result-title{
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #0b13b0;
    font-weight: bold;
    text-decoration: none;
}

.result-url{
    font-size: 0.9em;
    color: #56d60bd8;
    margin-bottom: 10px;
    text-decoration: underline;
    display: block;
    word-wrap: break-word;
    font-weight: bold;
}

.result-description {
    font-size: 1em;
    color: #131612;
    margin-bottom: 15px;
    line-height: 1.4;
    text-align: justify;
    font-family: Arial, sans-serif;
    padding: 10px;
    border-radius: 5px;

}

.p {
    font-size: 1.2em;
    color: #245d12;
    text-align: center;
    font-weight: bold;
}

.loader {
    position: relative;
    width: 100px;
    height: 100px;
  }
  .loader:before{
    content: '';
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    top: 50%;
    left: 0;
    transform: translate(-5px, -50%);
    background: linear-gradient(to right, #fff 50%, #3bfc0b 50%) no-repeat;
    background-size: 200% auto;
    background-position: 100% 0;
    animation: colorBallMoveX 1.5s linear infinite alternate;
  }
 .loader:after{
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background: #05ef15;
 }
@keyframes colorBallMoveX {
  0%  {
    background-position: 0% 0;
    transform: translate(-15px, -50%);
  }
  15%  , 25% {
    background-position: 0% 0;
    transform: translate(0px, -50%);
  }
  75% , 85% {
    background-position: 100% 0;
    transform: translate(50px, -50%);
  }
  100% {
    background-position: 100% 0;
    transform: translate(65px, -50%);
  }
}
  